.jumbotron { 
    background-color: rgba(0, 255, 149, 0.938);
    color: black;
}
.btn{
    background-color: black;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:  rgba(0, 255, 149, 0.938);
    margin-bottom: 0%px;
    margin-top: 10px;
}
.card-hotel{
    flex:1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
.btn-reserva {
    width: 100%;
    
}